/* Goodle Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: #01141f; */
  font-family: "Inter", sans-serif;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;
  background-color: rgba(1, 20, 31, 1);
  position: fixed;
  z-index: 1;
}

nav .logo {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: default;
  user-select: none;
}

nav .logo span {
  font-weight: 200;
  color: #f2a70c;
}

.navlink a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  background-color: #f2a70c;
  border: 2px solid #f2a70c;
  padding: 8px 20px;
  border-radius: 7px;
}
.navlink a:hover {
  background-color: #de9400;
  border: 2px solid #f2a70c;
}

/* Header Section */
.header_container {
  /* position: relative; */
  overflow: hidden;
  width: 100%;
  height: 100vh;
  /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(/images/hero_img.jpg) no-repeat center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.header_container::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),
    url(/images/hero_img.jpg) no-repeat center;
  animation: fade-in 1s linear alternate;
  background-size: cover;
}

.animate-pop-in {
  animation: pop-in 0.6s ease-in-out forwards;
  opacity: 0;
}

.hero_text {
  animation-delay: 0.7s;
  color: #fff;
  font-size: 3rem;
  line-height: 1.5rem;
}
.hero_subtext {
  animation-delay: 0.8s;
  color: #fff;
  text-align: center;
  font-size: 0.9rem;
  line-height: 1.5rem;
  font-weight: 400;
}

.button {
  animation-delay: 0.9s;
  text-decoration: none;
  color: #fff;
  /* letter-spacing: 0.1rem; */
  background-color: #f2a70c;
  border: 1px solid #f2a70c;
  border-radius: 7px;
  padding: 10px 15px;
  margin-top: 40px;
}

.button:hover {
  background-color: #f2a70c;
  border: 1px solid #f2a70c;
}

/* Main Section */
.skill_container {
  height: 90vh;
  padding: 120px 220px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.stroke {
  background-color: #f2a70c;
  width: 130px;
  height: 4px;
  margin-bottom: 15px;
}

.skills_title h2 {
  font-size: 1.7rem;
  margin-bottom: 20px;
}

.skills_title ul {
  line-height: 2rem;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
}
.skills_title ul li {
  list-style: circle;
  margin-left: 18px;
}

footer {
  width: 100%;
  background-color: rgb(216, 233, 239);
}

footer .contact-section {
  height: 90vh;
  padding: 100px 200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 120px;
}

footer .contact-section h2 {
  font-size: 1.5rem;
  padding-bottom: 20px;
}

footer .contact-section p {
  font-size: 16px;
  line-height: 1.8rem;
}

/* ############### Footer contact form ################ */
footer form {
    font-size: 16px;
    padding: 50px 40px;
  /* background-color: rgb(255, 255, 255); */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
footer form label {
    margin-bottom: 5;
}
footer form input {
  width: 100%;
  margin-bottom: 20px;
  padding: 14px 10px;
  border: none;
  border-radius: 4px;
  border-bottom-style: groove;
  background-color: #eee;
}

footer form input:focus {
    outline: none;
  }
  
footer form input[type="submit"] {
  background-color: #f2a70c;
  color: #fff;
  cursor: pointer;
}
footer form input[type="submit"]:hover {
  background-color: #de9400;
}


footer .social {
    width: 100%;
    padding: 20px 100px ;
    background-color: rgb(1, 20, 31);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #f2a70c;
    font-size: .8rem;
}

footer .social .fa-brands {
    color: #f2a70c;
    font-size: 20px;
}
footer .social .fa-facebook {
    margin-right: 10px;
}







/*  ################ Animation keyframes ################# */
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: rotateY(-4rem) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: rotateY(-4rem) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
